<h1>Show Store</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @store.name %>
  </li>
  <li>
    <strong>Products:</strong>
    <%= link "List of products", to: Routes.product_path(@conn, :index) %>
  </li>

</ul>

<span><%= link "Back", to: Routes.store_path(@conn, :index) %></span>
