<h1>New Product</h1>

<%= render "form.html", Map.merge(assigns, %{action: Routes.product_path(@conn, :create), method: :post}) %>

<span><%= link "Back", to: Routes.product_path(@conn, :index) %></span>
